.disease-card {
    display: inline;
    flex-wrap: wrap;
    button {
        background: #fff;
        border: 1px solid #4ba4ca;
        height: auto;
        border-radius: 5px;
        color: #4ba4ca;
        margin: 5px;
        font-size: 16px;
        padding: 3px;
    }
    @media screen and (max-width: 490px) {
        button {
            width: 45%;   
        }
    }
    @media screen and (max-width: 270px) {
        button {
            width: 83%;
            margin: 5px 7%;
        }
    }
    @media screen and (min-width: 491px) {
        button {
            width: 30%;           
        }
    }
    @media screen and (min-width: 700px) {
        button {
            width: 23%;
        }
    }
    @media screen and (min-width: 901px) {
        button {
            background: #fff;
            border: 1px solid #4ba4ca;
            width: 18%;
            height: auto;
            border-radius: 5px;
            color: #4ba4ca;
            margin: 5px;
            font-size: 16px;
        }
    }
}

.d-list {
    width: 95%;
    margin: 5% auto;
    .scroll {
        height: 24vh;
        overflow: scroll;
    }
    
    h3 {
        font-size: 20px;
        margin-left: 15px;
    }
}

.disease-detail {
    width: 80%;
    margin: 5% auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding-bottom: 20px;
    .top-detail {
        display: flex;
        padding-top: 10px;
        padding-bottom: 20px;
        .d-icon {
            width: 30%;
            margin-left: 3%;
            margin-top: 6%;
            img {
                width: 90px;
            }
        }
        .d-text {
            width: 80%;
            h2 {
                color: #4ba4ca;
            }
            p {
                font-size: 16px;
                margin-right: 10px;
                color: rgba(0, 0, 0, 0.62);
                
            }
        }
    }
    .h-scroll {
        height: 55vh;
        overflow: scroll;
        
@media screen and (min-width: 780px) {
    .hospitals {
        display: flex;
        flex-wrap: wrap;
    }
    .hospital-list {
        display: block; 
        width: 260px;
        margin: 25px;

        .hospital-img {
            // width: 100%;
            img {
                width: 100%;
                height: 100%;
                border-radius: 5px;
            }
        }
        .hospital-text {
            margin: 2% 5%;
            button {
                width: 120px;
                height: 30px;
            }
        } 
    }
}
    }

}