.tips {
    text-align: left;
    width: 90%;
    margin: 10% auto;
    h2 {
        color: rgb(104, 100, 100);
    }
    p {
        color: #44BFF3;
        margin-top: 10px;
        text-align: left;
    }
    button {
        background-color: transparent;
        color: #fff;
        width: 100px;
        height: 30px;
        border: 1px solid #44bff4;
        border-radius: 3px;
        font-size: 14px;
    }
}